In [2]:
import numpy as np
import pandas as pd

In [3]:
waterDF = pd.read_csv('data/total_water_quantity_measurement.csv', encoding='euc-kr')

# 날짜 데이터 형식 변환 (YYYYMMDD -> datetime)
waterDF['일자'] = pd.to_datetime(waterDF['일자'], errors='coerce') # errors='coerce' /-. 이 아니면 none 타입으로 변환된다.

waterDF

,총량지점명,일자,수온(℃),수소이온농도(ph),전기전도도(μS/㎝),용존산소(㎎/L),BOD(㎎/L),COD(㎎/L),부유물질(㎎/L),총질소(T-N)(㎎/L),총인(T-P)(㎎/L),총유기탄소(TOC)(㎎/L),유량(㎥/s)
0,낙본L,2020-12-02,11.0,8.3,316,11.7,1.1,5.0,2.4,2.516,0.028,3.4,47.960
1,낙본M,2020-12-04,9.7,7.7,441,11.1,1.3,5.0,5.2,2.263,0.024,3.3,185.830
2,낙본N,2020-12-04,6.8,7.5,388,11.8,1.3,5.4,11.6,2.955,0.056,3.8,28.922
3,낙본L,2020-12-07,9.5,7.6,331,11.1,0.8,4.7,0.4,2.953,0.024,3.6,81.440
4,낙본M,2020-12-09,8.9,7.3,357,11.1,0.9,4.8,3.6,2.370,0.024,3.6,179.490
...,...,...,...,...,...,...,...,...,...,...,...,...,...
548,낙본M,2025-10-21,20.6,7.8,257,8.5,1.3,6.2,10.0,2.663,0.069,4.7,365.147
549,낙본N,2025-10-21,19.7,7.5,940,8.2,2.5,9.3,10.4,2.489,0.047,7.4,0.000
550,낙본L,2025-10-27,19.0,7.8,192,9.5,1.1,6.4,6.4,2.719,0.082,3.2,443.180
551,낙본M,2025-10-27,19.3,8.2,272,9.7,1.4,7.0,8.4,2.661,0.080,3.9,208.869
552,낙본N,2025-10-27,18.2,7.9,942,9.1,4.2,11.9,14.4,1.983,0.060,6.1,0.000

In [4]:
waterDF.select_dtypes(include='number').describe()

,수온(℃),수소이온농도(ph),전기전도도(μS/㎝),용존산소(㎎/L),BOD(㎎/L),COD(㎎/L),부유물질(㎎/L),총질소(T-N)(㎎/L),총인(T-P)(㎎/L),총유기탄소(TOC)(㎎/L),유량(㎥/s)
count,553.000000,553.000000,553.000000,553.000000,553.000000,553.000000,553.000000,553.00000,553.000000,553.000000,553.000000
mean,17.873779,7.955154,519.846293,10.260579,2.347920,6.816275,9.903978,2.51045,0.050678,4.533092,209.826839
std,7.991181,0.516832,356.326171,2.249187,1.241507,1.918500,6.455414,0.69266,0.025995,1.327103,439.611497
min,1.500000,6.500000,118.000000,6.000000,0.400000,3.900000,0.300000,0.84800,0.016000,2.100000,0.000000
25%,11.100000,7.600000,277.000000,8.500000,1.500000,5.600000,5.200000,2.03600,0.031000,3.600000,7.766000
50%,18.800000,7.900000,417.000000,9.700000,2.000000,6.400000,8.400000,2.48700,0.044000,4.300000,89.020000
75%,25.100000,8.400000,674.000000,11.700000,2.900000,7.400000,13.200000,2.98700,0.065000,5.000000,217.617000
max,32.000000,9.200000,3458.000000,16.000000,8.500000,18.900000,43.200000,5.41400,0.194000,12.900000,4962.290000